* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
header div {
  background-color: #4fa0ff;
  width: 100%;
  height: 90px;
  background-image: url(img/pattern.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: left;
  position: relative;
}
#logo {
  height: 50px;
  position: absolute;
  bottom: 0%;
}
/* main */

contenitore {
  width: 60%;
}

section {
  padding: 5px;
}
h1 {
  font-size: 50px;
  padding-top: 20px;
}
#autore,
#data {
  color: #808080;
  font-size: smaller;
}

#data {
  font-size: x-small;
}
/* foto articolo */
#foto-articolo {
  padding-top: 20px;
  height: 300px;
  width: 100%;
  display: inline-block;
}
#tim-1 {
  max-width: fit-content;
  height: auto;
}
#tim-2 {
  max-width: fit-content;
  height: auto;
}
/* info foto */
.autore-foto {
  font-size: x-small;
}
/* testo evidenziato */
.evidenziato {
  background-color: yellow;
}
/* lista */
ul {
  list-style-position: inside;
}
/* tabella */
table {
  width: 100%;
  border-style: none;
  border-spacing: 0;
  text-align: left;
  cellspacing: 0;
  column-span: none;
}
td {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-left: 0%;
  text-align: left;
}
thead {
  color: white;
  background-color: #20aae5;
}
#riga-colorata {
  background-color: #b2e6f2;
}

/* footer */
footer div {
  position: relative;
}
footer p {
  color: #808080;
}
footer img {
  padding-left: 5px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 250px;
}
#graph {
  margin-bottom: 50px;
}
#testo-immagine1 {
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: large;
}
#testo-immagine2 {
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: large;
}
